@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}




/* Estilo del Header*/

#botonera{
    box-shadow: 0 0 3px #000;
    padding: 0px 2em;
    
}
#botonera li a{
    font-size: 18px;
    color: #000;   
}
#botonera  ul li a:hover{
    color: yellow;
}

/* Estilo del Carousel*/
#carousel-texto{
    color: #000;
    margin-top: -60px;
}
#carousel-color{
    color: #000;
}

/* Services*/ 

#services{
    padding: 80px 0;
}
.service-img{
    width: 80px;
    margin-top: 20px;
}
.services{
    padding: 20px;

}
.services h4{
    padding: 5px;
    margin-top: 25px;
    font-size: 18px;
    color: #000;
    font-family:Arial, Helvetica, sans-serif;
}
.services p {
    font-size: 14px;
}
.tittle{
    font-family: 20px;

}
.tittle::before{
    content: '';
    background: #f3ef00;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px );
}
#services .btn-primary{
    box-shadow: none;
    
    border: none;
    border-radius: 20px;
    background-color:#f3ef00 ;
}


/*Sobre Nosotros*/
#about-us{
    padding-bottom: 50px;
    padding-top: 50px;
    background:#f8f9fa;
    
}
.about-tittle{
    font-size: 23px;
    font-weight: 600;
    margin-top: 8%;
}
.about-list{
    list-style-type:disc;
    align-content: center;

}
#about-us ul li{
    margin: 10px 0;
}
#about-us ul {
    margin-left: 20px;
}
#about-us img{
    margin-left: 170px;
    margin-top: 30px;
    
}
#social-media{
    background:#f8f9fa ;
    padding: 100px 0;
}
#social-media p{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img{
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img{
    transform: translateY(-1);
}

    /* Estilo del Carousel*/
   .carousel-item{
       margin-top: 30px;
       height: 100vh;
       min-height: 300px;
       background: no-repeat scroll center scroll;
       -webkit-background-size: cover;
       background-size: cover;

}


    /* Estilo del Footer*/
    footer{
        color: #fff;
        margin: auto;
        box-shadow: 0 0 3px #000;
        text-align: center;
        width: 100%;
        grid-area: footer;
        height: auto;
        display: grid;

    }
    .footer-container{
        display: flex;
        justify-content: space-around;
        padding: 1em 0;
        display: grid; 
    } 
    footer ul li{
        list-style: none;   
    }
    .footer-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    } 
    .footer-heading a{
        color: black;
        text-decoration: none;
        font-size: 24px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        
    }
    .footer-heading a:hover{
        color: yellow;
        transition: 0.3s ease-out;
    }
    footer h4{
        font-size: 16px;
        color: black;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-weight: 500;
        position:relative;
    
    }
    footer h4::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color:rgb(238, 255, 0);
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    
    /* Estilo del boton de enviar*/
    #footer-email{
        width: 350px;
        height: 40px;
        border-radius: 4px;
        outline: none;
        border: none;
        padding-left: 0.5rem;
        font-size: 1rem;
        margin-bottom: 1rem;
        border-radius: 0%;
        background-color: #f1f1f1;
    }
    #footer-email::placeholder{
        color:darkgrey;
    }
    #footer-email-btn{
        width: 100px;
        height: 40px;
        background-color: yellow;
        border-radius: 30px;
        
    }
    #footer-email-btn:hover{
        cursor: pointer;
        background-color: #f1f1f1;
        transition: all 0.4s ease-out;
    }
    footer h4{
        font-size: 26px;
    }
     /* Estilo de Contacto*/
     .content{
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5em;
        box-sizing: border-box;
         
     }
     ul {
        list-style: none;
        padding: 0;
    }
    
    .logo {
        text-align: center;
        font-size: 3em;
        margin-top: 20px;
    }
    
    .logo span {
        color: #f2f608;
    }
    
    .contact-wrapper {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        margin-top: 20px;
    }
    
    .contact-wrapper > * {
        padding: 1em;
        margin-top: 20px;
        gap: 1;
    }
    
    .contact-form {
        background: #fff;
       
    }
    
    .contact-form form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    
    .contact-form form label {
        display: block;
        
    }
    
    .contact-form form p {
        margin: 0;
        padding: 1em;
    }
    
    .contact-form form .block {
        grid-column: 1 / 3;
    }
    
    .contact-form form button,
    .contact-form form input,
    .contact-form form textarea {
        width: 100%;
        padding: .7em;
        border: none;
        background: none;
        outline: 0;
        color: rgb(0, 0, 0);
        border-bottom: 1px solid #f3ef00;
    }
    
    .contact-form form button {
        background: #fbff00;
        border: 0;
        text-transform: uppercase;
        padding: 1em;
    }
    
    .contact-form form button:hover,
    .contact-form form button:focus {
        background: #fbff00;
        color: #fff;
        transition: background-color 1s ease-out;
        outline: 0;
        cursor: pointer;
    }
    
    /* CONTACT INFO */
    .contact-info {
        background: rgb(255, 255, 255);
    }
    
    .contact-info h4, .contact-info ul, .contact-info p {
        text-align: center;
        margin: 0 0 1rem 0;
        list-style: none;
    }
    .contact-info ul li{
        padding: .3em;
    }


    /*Estilo de Productos*/
    
    .btnc{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 53px;
        width: 40%;
        color: black;
        border: none;
        outline: none;
        background: rgb(246, 84, 105);
        cursor: all 0.4s;
    }
    .btnc:hover{
        background: rgb(238, 255, 0);
        transition: all 0.4s;
    }
    .zoom-n-rotate{
        border-radius: 0;
        outline: none;
        overflow: hidden;
        cursor: pointer;
    }
    .zoom-n-rotate img{
        transition: transform .5s ease-in-out;
    }
    .zoom-n-rotate:hover img{
        transform: scale(1.5);
    }
    h1{
        font-weight: 500;
        font-size: 2.6rem;

    }
    .product{
        background: rgb(246, 243, 246);
    }
     

  /*empieza el estilo de Nosotros*/


 .gran-contenedor-flex {
    display:flex;
    padding: 3em;
    gap:2em;
    justify-items:center;
  }
  
  .imagen-nosotros {
    width: 400px;
    height: 400px;
    
  }
  
  .imagen-nosotros img {
    width: 100%;
  }
  .texto {
    width:70%;  
    font-size:110%;
    
  }
  .texto h3 {
    margin-bottom:1.5em;
  }
  .texto2{
      margin-top: 20px;
  }
  .btn-nosotros{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: yellow;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    margin-top: 30px;
    display: block;
    
    
  }
  .btn-nosotros:hover{
    background: #e39403;
  }




  @media(max-width: 374px) {
      nav img{
          height: 90px;
      }
  }

/* LARGE SIZE CONTACT US */
@media(min-width: 700px) {
    
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        box-sizing: border-box;
        
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
    }

    /* IMG*/
    @media (min-width:768px) and (max-width:853px){
        #about-us img{
            margin-left: 120px;
            margin-top: 10px;
            
        }
    }

   

    /* FOOTER */
    
    @media  (min-width: 280px) and (max-width:425px)  {
        #footer-email {
            width: 250px;
        }
        footer h4 {
            font-size: 20px;
        }
        .footer-heading a {

            font-size: 14px;
            
        }   

    }

    @media screen and (min-width: 764px){
        .contenedor--displaygrid{
            display: grid;
            grid-template-columns: 100%  ;
            grid-template-rows: auto auto auto;
            grid-template-areas: "header header" "main main" "footer footer" ;
        }
        footer{
            background-color:#fff;
            color: #fff;
            margin: auto;
            box-shadow: 0 0 3px #000;
            text-align: center;
            position: sticky;
            width: 100%;
            margin-top: 160px;
        
        }
        .footer-container{
            display: flex;
        }  
    
        .footer-heading a{
            font-size: 15px;
        }
        
        footer h4{
            font-size: 14px
        }

    }
        
    
       /* NOSOTROS */
       @media screen and (max-width:763px) {
        .gran-contenedor-flex {
            display:flex;
            flex-direction: column;
            padding: 3em;
            gap:2em;
            justify-content: center;
            align-items: center;
          }
          .imagen-nosotros {
            width: 280px;
            height: 300px;
            
          }
          
          .texto {
            width:60%;  
            font-size:110%;
            
          }
          .texto h3 {
            margin-bottom:1.5em;
            margin-top: 60px;
            display: flex;
            justify-content: center;
          }
          .texto2{
              margin-top: 30px;
          }
          .btn-nosotros{

            margin-left: auto;
            margin-right: auto;
          }
       }
       @media screen and (max-width:444px) {
        .texto {
            width: 65%;  
            font-size:130%;
          }
          .texto h3 {
            margin-bottom:1.5em;
            margin-top: 60px;
            display: flex;
            justify-content: center;
            font-size: 1.5em;
          }
          .texto2{
              margin-top: 30px;
          }
           
       }
    
       
    

       